atomicwrites
aenum
cffi
cython
hydra-core
ipykernel
ipywidgets
jupyter
jinja2
lightning
litlogger
lru-dict
matplotlib
notebook
numpy
onnx
onnxruntime
opencv-python
pkgconfig
pycapnp
pycurl
pydantic
scikit-learn
scons
seaborn
six
sympy
tenacity
tensorboard
tensorflow
torch
torchinfo
torchvision
torchmetrics
timm
tqdm